# config/services.yaml

parameters:
    nativex.config_file: '%kernel.project_dir%/config/nativex/config.cfg'
    nativex.pi_file: '%kernel.project_dir%/config/nativex/pi10000.txt'

services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    # Commands, Controllers, and Services all autodiscovered
    App\:
        resource: '../src/'
        exclude:
            - '../src/Kernel.php'
            - '../src/DependencyInjection/'

    # Override specific services with manual args
    App\Service\NativeX\ConfigLoader:
        arguments:
            $configFile: '%nativex.config_file%'
            $piFile: '%nativex.pi_file%'

    App\Service\NativeX\NativeX:
        factory: [App\Service\NativeX\NativeX, 'build']
        arguments:
            - '@App\Service\NativeX\ConfigLoader'
